<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Footer4</title>
	<link rel="stylesheet" href="../../../../css/templates/footers/footer4/style.css">
</head>
<body>
	<footer class="footer">
		<div class="container">
		<div class="footer__part footer__part--logo">
				<div class="logo"></div>
			</div>
			<div class="footer__part footer__part--contacts">
				<h6 class="footer__part-title">Contacts</h6>
				<span class="footer__part-paragraph">920 Reserve Dr. Suite 140 <br>Roseville, CA 95678</span>
				<a href="tel:415 496-9612" class="footer__part-paragraph footer__phone-link">(415) 496-9612</a>
				<a href="mailto:info@creativeda.sh" class="footer__part-paragraph footer__email-link">info@creativeda.sh</a>
			</div>
			<div class="footer__part footer__part--info">
				<h6 class="footer__part-title">Info</h6>
				<p class="footer__part-paragraph">Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
			</div>
			<div class="footer__part footer__part--app">
				<h6 class="footer__part-title">Our app</h6>
				<a href="#" class="btn btn--rounded btn--success footer__part-btn-link">Buy app</a>
				<a href="#" class="footer__part-simple-link">or Learn More</a>
			</div>
		</div>
	</footer>
</body>
</html>