<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Footer3</title>
	<link rel="stylesheet" href="../../../../css/templates/footers/footer3/style.css">
</head>
<body>
	<footer class="footer">
		<div class="container">
			<div class="footer__nav">
				<div class="footer__part">
					<h6 class="footer__nav-title footer__nav-title--name">Joseph Wood</h6>
					<ul>
						<li><a href="#" class="footer__nav-link">Timeline</a></li>
						<li><a href="#" class="footer__nav-link">Messages</a></li>
						<li><a href="#" class="footer__nav-link">Statistic</a></li>
						<li><a href="#" class="footer__nav-link">Settings</a></li>
						<li><a href="#" class="footer__nav-link">Logout</a></li>
					</ul>
				</div>
				<div class="footer__part">
				<h6 class="footer__nav-title">Services</h6>
					<ul>
						<li><a href="#" class="footer__nav-link">Branding</a></li>
						<li><a href="#" class="footer__nav-link">UX Design</a></li>
						<li><a href="#" class="footer__nav-link">Prototype</a></li>
						<li><a href="#" class="footer__nav-link">UI Design</a></li>
						<li><a href="#" class="footer__nav-link">Development</a></li>
					</ul>
				</div>
				<div class="footer__part">
					<h6 class="footer__nav-title">About Us</h6>
					<ul>
						<li><a href="#" class="footer__nav-link">Company</a></li>    
						<li><a href="#" class="footer__nav-link">Our Team</a></li>
						<li><a href="#" class="footer__nav-link">Testimonials</a></li>
						<li><a href="#" class="footer__nav-link">Contacts</a></li>
					</ul>
				</div>
				<div class="footer__part">
					<div class="logo"></div>
					<h6 class="footer__nav-title">UI8 &copy; 2010–2014 </h6>
					<ul>
						<li><a href="#" class="footer__nav-link">Terms and Conditions</a></li>     
						<li><a href="#" class="footer__nav-link">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>