<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Footers</title>
	<link rel="stylesheet" href="../../../../css/templates/footers/footer6/style.css">
</head>
<body>
	<footer class="footer">
		<nav class="footer__nav">
			<a href="#" class="footer__nav-link">Popular</a>
			<a href="#" class="footer__nav-link">Recent</a>
			<a href="#" class="footer__nav-link">Teams</a>
			<a href="#" class="footer__nav-link">Debuts</a>
			<a href="#" class="footer__nav-link">Playoffs</a>
			<a href="#" class="footer__nav-link">Animated GIF’s</a>
		</nav>
		<div class="social-nav">
			<a href="#" class="icon icon--facebook"></a>
			<a href="#" class="icon icon--twitter"></a>
			<a href="#" class="icon icon--dribbble"></a>
			<a href="#" class="icon icon--vimeo"></a>
			<a href="#" class="icon icon--google-plus"></a>
		</div>
		<span class="footer__copyright">&copy; UI8 2014 – All Right Reserved</span>
	</footer>
</body>
</html>