@import url("https://fonts.googleapis.com/css?family=Cabin:400,600");

.btn--rounded {
  border-radius: 6px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  min-width: 140px;
  padding: 10px;
  border: 2px solid transparent;
  text-align: center;
  font-family: "Cabin", sans-serif;
  letter-spacing: 0.02em;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  text-decoration: none;
}

.btn--sm {
  min-width: 120px;
  padding: 4px 10px;
  font-size: 14px;
}

.btn--lg {
  min-width: 190px;
  padding: 16px;
  font-size: 18px;
}

.btn--round {
  border-radius: 999px;
}

.btn--circle {
  border-radius: 50%;
}

.btn--circle-chevron {
  position: relative;
  width: 48px;
  height: 48px;
  color: #FFF;
  border: 2px solid #fff;
}

.btn--circle-chevron:after {
  width: 2px;
  height: 2px;
  background: currentColor;
  content: "";
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn--circle-chevron-left:after {
  top: 50%;
  left: calc(50% - 4px);
  position: absolute;
  -webkit-box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, 5px -5px 0 0 currentColor, 6px -6px 0 0 currentColor, 1px 1px 0 0 currentColor, 2px 2px 0 0 currentColor, 3px 3px 0 0 currentColor, 4px 4px 0 0 currentColor, 5px 5px 0 0 currentColor, 6px 6px 0 0 currentColor;
  box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, 5px -5px 0 0 currentColor, 6px -6px 0 0 currentColor, 1px 1px 0 0 currentColor, 2px 2px 0 0 currentColor, 3px 3px 0 0 currentColor, 4px 4px 0 0 currentColor, 5px 5px 0 0 currentColor, 6px 6px 0 0 currentColor;
}

.btn--circle-chevron-right:after {
  top: 50%;
  left: calc(50% + 4px);
  position: absolute;
  -webkit-box-shadow: -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor, -5px -5px 0 0 currentColor, -6px -6px 0 0 currentColor, -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, -4px 4px 0 0 currentColor, -5px 5px 0 0 currentColor, -6px 6px 0 0 currentColor;
  box-shadow: -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor, -5px -5px 0 0 currentColor, -6px -6px 0 0 currentColor, -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, -4px 4px 0 0 currentColor, -5px 5px 0 0 currentColor, -6px 6px 0 0 currentColor;
}

.btn--circle-chevron-down:after {
  top: calc(50% + 4px);
  left: 50%;
  position: absolute;
  -webkit-box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, 5px -5px 0 0 currentColor, 6px -6px 0 0 currentColor, -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor, -5px -5px 0 0 currentColor, -6px -6px 0 0 currentColor;
  box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, 5px -5px 0 0 currentColor, 6px -6px 0 0 currentColor, -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor, -5px -5px 0 0 currentColor, -6px -6px 0 0 currentColor;
}

.btn--ghost {
  background-color: transparent;
  border-color: #65abd0;
  color: #65abd0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn--ghost:hover {
  border-color: #4F87A4;
  color: #4F87A4;
}

.btn--square {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  border: 2px solid transparent;
  color: #FFF;
  width: 48px;
  height: 48px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  cursor: pointer;
}

.btn--square--sm {
  width: 36px;
  height: 36px;
}

.btn--square--lg {
  width: 60px;
  height: 60px;
}

.btn--arrow {
  position: relative;
  min-width: 75px;
  padding-left: 15px;
}

.btn--arrow:after {
  width: 30px;
  height: 30px;
  background: inherit;
  top: 50%;
  right: -1px;
  position: absolute;
  content: '';
  border-top-right-radius: 6px;
  -webkit-transform: translate(50%, -50%) rotate(45deg);
  transform: translate(50%, -50%) rotate(45deg);
}

.btn--arrow__text {
  position: relative;
  z-index: 1;
}

.btn--arrow--sm {
  min-width: 90px;
}

.btn--arrow--sm:after {
  width: 25px;
  height: 25px;
  right: 1px;
}

.btn--full {
  width: 100%;
}

.btn--success {
  background-color: #24aa98;
}

.btn--success:hover {
  background-color: #258578;
}

.btn--danger {
  background-color: #db7560;
}

.btn--danger:hover {
  background-color: #B15E4D;
}

.btn--warning {
  background-color: #d9c26c;
}

.btn--warning:hover {
  background-color: #A99755;
}

.btn--info {
  background-color: #65abd0;
}

.btn--info:hover {
  background-color: #4F87A4;
}

.btn--primary {
  background-color: #3162a2;
}

.btn--primary:hover {
  background-color: #274873;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cabin", sans-serif;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: #fff;
}

.logo {
  width: 71px;
  height: 66px;
  background: url("../../../../img/logo.svg");
  background-size: cover;
}

.header {
  position: relative;
  height: 100vh;
  padding: 7vh 10% 7vh 17%;
  background: #383737 url("../../../../templates/headers/views/header7/img/bg-img.jpg") center top;
  background-size: cover;
}

.header__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__menu.is-active > .header__menu-navigation {
  display: block;
}

.header__menu-btn {
  top: 50%;
  right: 0;
  position: absolute;
  display: none;
  width: 18px;
  height: 18px;
  color: #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header__menu-btn:after {
  top: 50%;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background: currentColor;
  content: "";
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-shadow: 0 6px 0 0 currentColor, 0 -6px 0 0 currentColor;
  box-shadow: 0 6px 0 0 currentColor, 0 -6px 0 0 currentColor;
}

.header__menu-btn.create-close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 5;
}

.header__menu-btn.create-close:after {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
}

.header__menu-btn.create-close:before {
  top: 50%;
  left: 0;
  position: absolute;
  width: 18px;
  height: 2px;
  background: currentColor;
  content: "";
  -webkit-transform: translateY(-50%) rotate(-45deg);
  transform: translateY(-50%) rotate(-45deg);
}

.header__menu-navigation-link {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}

.header__menu-navigation-link:hover {
  text-decoration: underline;
}

.header__menu-navigation-link:not(:first-child) {
  margin-left: 60px;
}

.header__title {
  width: 50%;
  margin: 10vh 0 3vh 0;
  font-size: 50px;
  line-height: 58px;
}

.header__paragraph {
  width: 60%;
  margin-bottom: 8vh;
  font-size: 18px;
  line-height: 24px;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__info-counter {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 50px;
  line-height: 64px;
  letter-spacing: 0;
}

.header__info-counter--elements {
  color: #24aa98;
}

.header__info-counter--templates {
  color: #65abd0;
}

.header__info-counter--icons {
  color: #d9c26c;
}

.header__info-desc {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  vertical-align: middle;
}

.header__info-item:not(:first-child) {
  margin-left: 55px;
}

.header__chevron-bottom {
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.5;
}

.header__chevron-bottom:hover {
  opacity: 1;
  border-color: #D9C26C;
  color: #D9C26C;
}

@media (max-width: 1150px) {
  .header__title {
    width: 70%;
  }

  .header__paragraph {
    width: 80%;
  }

  .header__info-item:not(:first-child) {
    margin-left: 30px;
  }

  .header {
    padding-left: 10%;
  }
}

@media (max-width: 767px) {
  .header__menu-navigation-link:not(:first-child) {
    margin-left: 40px;
  }

  .header__paragraph {
    margin-bottom: 5vh;
  }

  .header__info-counter {
    font-size: 40px;
    line-height: 50px;
  }

  .header__info-desc {
    font-size: 14px;
    line-height: 18px;
  }

  .header {
    padding: 5vh 5%;
  }
}

@media (max-width: 650px) {
  .logo {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .header__menu-btn {
    top: 60px;
    right: 30px;
    display: block;
  }

  .header__menu-navigation-link:hover {
    text-decoration: none;
    border-color: #24aa98;
    color: #d9c26c;
  }

  .header__menu-navigation-link:not(:first-child) {
    margin-left: 0;
  }

  .header__menu-navigation-link {
    display: block;
    border-bottom: 2px solid transparent;
    border-right: 10px solid transparent;
    text-align: center;
    line-height: 70px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }

  .header__menu-navigation {
    top: 0;
    right: 0;
    position: absolute;
    left: 0;
    z-index: 3;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .header__menu {
    position: static;
  }

  .header__title {
    width: 100%;
    font-size: 40px;
    line-height: 48px;
  }

  .header__paragraph {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .header__title {
    font-size: 34px;
    line-height: 40px;
    margin-top: 5vh;
  }

  .header__paragraph {
    font-size: 14px;
    line-height: 20px;
  }

  .header__info-counter {
    margin-right: 0;
    font-size: 30px;
  }
}

@media (max-width: 320px) {
  .header__title {
    font-size: 26px;
    line-height: 34px;
  }

  .header__paragraph {
    margin-bottom: 2vh;
  }

  .header__chevron-bottom {
    bottom: 15px;
  }
}

@media (max-height: 450px) {
  .header__title {
    margin-top: 2vh;
    font-size: 26px;
    line-height: 32px;
  }

  .header__paragraph {
    margin-bottom: 3vh;
    font-size: 12px;
    line-height: 16px;
  }

  .header__info-counter {
    font-size: 30px;
  }

  .header__info-desc {
    font-size: 12px;
    line-height: 18px;
  }

  .header__chevron-bottom {
    bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */
