<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Footer10</title>
	<link rel="stylesheet" href="../../../../css/templates/footers/footer10/style.css">
</head>
<body>
	<footer class="footer">
		<div class="footer__content">
			<h2 class="footer__title">The Best App Ever</h2>
			<span class="footer__sign-up-text">Please Sign Up to Get Our App</span>
			<form action="#">
				<div class="footer__form">
					<div class="footer__input-group">
						<input type="email" class="input-field footer__form-field" placeholder="E-mail">
					</div>
					<div class="footer__input-group">
						<input type="password" class="input-field footer__form-field" placeholder="Password">
					</div>
					<div class="footer__input-group footer__input-group--btn">
						<button class="btn btn--rounded btn--warning footer__form-btn">Sign up</button>
					</div>
				</div>
			</form>
			<nav class="nav">
				<a href="#" class="nav__link">Products</a>
				<a href="#" class="nav__link">Prices</a>
				<a href="#" class="nav__link">About Us</a>
				<a href="#" class="nav__link">Contacts</a>
			</nav>
			<span class="footer__copyright">&copy; UI8 2014 – All Right Reserved</span>
		</div>
	</footer>
</body>
</html>