@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Cabin:400,600");

.input-field {
  border-radius: 6px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.input-field {
  width: 100%;
  height: 48px;
  background: #fff;
  padding: 0 16px;
  border: 2px solid #c6ccd2;
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 600;
  outline: none;
}

.input-field.placeholder {
  font-family: "Cabin", sans-serif;
  color: #c6ccd2;
  letter-spacing: 0.02em;
  font-weight: 600;
}

.input-field:-moz-placeholder {
  font-family: "Cabin", sans-serif;
  color: #c6ccd2;
  letter-spacing: 0.02em;
  font-weight: 600;
}

.input-field::-moz-placeholder {
  font-family: "Cabin", sans-serif;
  color: #c6ccd2;
  letter-spacing: 0.02em;
  font-weight: 600;
}

.input-field:-ms-input-placeholder {
  font-family: "Cabin", sans-serif;
  color: #c6ccd2;
  letter-spacing: 0.02em;
  font-weight: 600;
}

.input-field::-webkit-input-placeholder {
  font-family: "Cabin", sans-serif;
  color: #c6ccd2;
  letter-spacing: 0.02em;
  font-weight: 600;
}

.input-field--sm {
  height: 36px;
  padding: 0 16px;
  font-size: 14px;
}

.input-field--area {
  font-size: 16px;
  line-height: 22px;
  color: #383737;
  height: 144px;
  padding: 15px;
  text-align: left;
}

.input-field--split {
  padding-right: 50px;
}

.input-field--split--sm {
  padding-right: 40px;
}

.input-field--round {
  border-radius: 999px;
}

.input-field--ic {
  padding: 0 40px 0 45px;
}

.input-field--ic--sm {
  padding: 0 35px;
}

.input-field--ic--right {
  padding: 0 30px 0 16px;
}

.input-field--ic--left {
  padding: 0 10px 0 45px;
}

.input-field--ic--left-sm {
  padding: 0 10px 0 35px;
}

.split-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.split-input > .input-field {
  width: calc(100% - 58px);
}

.form-group__label {
  font-size: 16px;
  line-height: 24px;
  color: #b4bbc2;
}

.form-group__input,
.form-group__select,
.form-group__area {
  margin-top: 5px;
}

.sticky-group {
  position: relative;
}

.sticky-group__field:valid {
  width: calc(100% - 58px);
}

.sticky-group__btn {
  top: 0;
  right: 0;
  position: absolute;
  width: 48px;
  height: 48px;
  background: #c6ccd2;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: auto;
  border: none;
  outline: none;
}

.sticky-group__field:valid + .sticky-group__btn {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #24aa98;
  cursor: pointer;
}

.sticky-group--sm__field:valid {
  width: calc(100% - 46px);
}

.sticky-group--sm__btn {
  width: 36px;
  height: 36px;
}

@font-face {
  font-family: "icon-font";
  src: url("../../../../fonts/icon/icon-font.eot");
  src: url("../../../../fonts/icon/icon-font.?#iefix") format("embedded-opentype"), url("../../../../fonts/icon/icon-font.woff2") format("woff2"), url("../../../../fonts/icon/icon-font.woff") format("woff"), url("../../../../fonts/icon/icon-font.ttf") format("truetype"), url("../../../../fonts/icon/icon-font.#icon-font") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "icon-font";
}

.icon:before {
  /* Some common icon stuff */
}

.icon.icon--basket:before {
  content: "";
}

.icon.icon--dribbble:before {
  content: "";
}

.icon.icon--envelope:before {
  content: "";
}

.icon.icon--facebook:before {
  content: "";
}

.icon.icon--google-plus:before {
  content: "";
}

.icon.icon--linkedin:before {
  content: "";
}

.icon.icon--padlock:before {
  content: "";
}

.icon.icon--phone:before {
  content: "";
}

.icon.icon--placeholder:before {
  content: "";
}

.icon.icon--settings:before {
  content: "";
}

.icon.icon--twitter:before {
  content: "";
}

.icon.icon--upload-cloud:before {
  content: "";
}

.icon.icon--vimeo:before {
  content: "";
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cabin", sans-serif;
  letter-spacing: 0.02em;
  color: #fff;
  font-weight: 600;
}

ul {
  list-style: none;
}

.logo {
  width: 71px;
  height: 66px;
  background: url("../../../../img/logo.svg");
}

.footer {
  padding: 40px 0;
  background-color: #383737;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
}

.footer__part {
  padding: 10px;
}

.footer__part-link {
  font-size: 16px;
  line-height: 32px;
  color: #b4bbc2;
  text-decoration: none;
}

.footer__part-link:hover {
  text-decoration: underline;
}

.footer__part--follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.footer__part-title,
.subscribe__title,
.follow__title {
  font-size: 18px;
  line-height: 36px;
}

.subscribe-box {
  margin-bottom: 30px;
}

.subscribe__input-group {
  position: relative;
  width: 220px;
  margin-top: 10px;
}

.subscribe__field {
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  color: #383737;
}

.subscribe__field:valid {
  width: calc(100% - 48px);
}

.subscribe__btn {
  top: 0;
  right: 0;
  position: absolute;
  width: 36px;
  height: 36px;
  border: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #FFF;
  outline: none;
}

.subscribe__btn:after {
  top: 50%;
  left: calc(50% + 3px);
  position: absolute;
  width: 2px;
  height: 2px;
  background: currentColor;
  content: "";
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor, -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, -4px 4px 0 0 currentColor;
  box-shadow: -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor, -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, -4px 4px 0 0 currentColor;
}

.subscribe__field:valid + .subscribe__btn {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #24aa98;
  cursor: pointer;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-right: 25px;
  font-size: 14px;
  font-weight: 400;
  color: #FFF;
  text-decoration: none;
  opacity: 0.5;
}

.icon:hover {
  opacity: 1;
}

.icon:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .footer__content {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

@media (max-width: 650px) {
  .input-field--ic--left {
    padding: 0 10px 0 40px;
  }
}
/*# sourceMappingURL=style.css.map */
