
* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

.page {
	background: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
}

.sl {
	width: 1212px;
	// max-height: 340px;
	margin: 50px auto;
	// border: 1px solid black;
	position: relative;

	&__nav {
		height: 40px;
		width: 28.3%;
		background: #009688;
		z-index: 1001;
		position: absolute;
		bottom: 40px;
		left: 50%;
		transform: translateX(-57%);
		display: flex;
		justify-content: flex-end;
		border-radius: 0 0 6px 6px;

		&-btn {
			height: 28px;
			width: 28px;
			background: #b2dfdb;
			display: inline-block;
			margin: 5px;
			transition: background .3s;
			text-align: center;
			vertical-align: middle;
			cursor: pointer;
			position: relative;

			&:after {
				width: 10px;
				height: 10px;
				content: " ";
				top: 50%;
				left: 50%;
				background: #1b1b1b;
				z-index: 1002;

			}

			&:hover {
				background: #fff;
			}
		}

	}


	&-inner {
		width: 1162px;
		height: 340px;
		padding: 12px 25px 22px;
		// border: 1px solid red;
	}

	&__item {
		width: 360px;
		// border: 1px solid green;
		// padding: 18px;
		background: #f9f9f9;
		opacity: .5;
		margin: 0 15px;
		transition: opacity .7s;
		border-radius: 5px;

		&-inner {
			padding: 18px;
			// border: 1px solid red;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			flex: 1 0 auto;
			// width: 100%;
		}

		&-line {
			display: flex;
			justify-content: space-between;

			&--achievements {
				font-size: 16px;
		        font-weight: 600;
		        border-top: 1px solid #009688;
		        border-bottom: 1px solid #009688;
		        padding: 10px 6px 6px 3px;
		        margin: 26px 0;
			}
		}

		&.slick-current {
		    opacity: 1;
		    box-shadow: 3px 3px 15px #d9d9da,
		               -3px -3px 15px #d9d9da;
		    // margin: auto;
		}

		&.slick-slide {
			outline: none;
		}
	}

	&__btn {
		background: #f16600;
		color: #fff;

		&:hover {
			background: #ff7b1a;
		}
	}
}

.header__text {
	width: 73%;
	padding-left: 20px;

	&-name {
		font: 18px 'Open Sans', sans-serif;
	    font-weight: 700;
	    letter-spacing: -0.025em;
	    color: #f16600;
	}

	&-desc {
		font-size: 14px;
		font-weight: 300;
		color: #428c81;
	}
}

.socks {
	color: #333333;
}

.cats {
	color: #00776a;
}

.progress {
	width: 50%;

	&__desc {
		color: #00776a;
		font: 700 16px 'Open Sans', sans-serif;

		&:after {
			content: 'Success rate';
			color: #7a7a7a;
			padding-left: 8px;
			font-weight: 300;
		}
	}

	&__bar {
		width: 75%;
        height: 10px;
        background: #d9d9d9;
        border-radius: 3px;
        margin-top: 6px;

        &-inner {
        	height: 100%;
            background-color: #00776a;
            border-radius: 3px;
            text-align: right;

            &--Peter {
            	width: 60%;
            }

            &--Anna {
    	        width: 51%;
            }

            &--Lisa {
    	        width: 26%;
            }
        }
	}
}

.btn {
	display: inline-block;
	vertical-align: middle;
	min-width: 30%;
	padding: 8px 18px;
	border: 1px solid transparent;
	text-align: center; 
	font: 900 16px 'Open Sans', sans-serif;
	letter-spacing: 0.01em;
	text-decoration: none;
	text-transform: uppercase;
	outline: none;
	cursor: pointer;
	transition: 0.3s;

	&--rounded {
		border-radius: 4px;
	}
}


