<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Footer8</title>
	<link rel="stylesheet" href="../../../../css/templates/footers/footer8/style.css">
</head>
<body>
	<footer class="footer">
		<div class="footer__content">
			<nav class="footer__part footer__part--nav">
				<a href="#" class="footer__part--nav-link">Recomendations</a>
				<a href="#" class="footer__part--nav-link">My Channel</a>
				<a href="#" class="footer__part--nav-link">Journal</a>
				<a href="#" class="footer__part--nav-link">See Later</a>
			</nav>
			<div class="footer__part footer__part--copy">
				<span class="footer__part--copy-text">&copy; UI8 2014 – All Right Reserved</span>
				<a href="#" class="icon icon--facebook"></a>
				<a href="#" class="icon icon--twitter"></a>
				<a href="#" class="icon icon--linkedin"></a>
			</div>
		</div>
	</footer>
</body>
</html>