$text-color: #3f3d3d;
$light-color: #fffafa;
$snow-color: #fff;
$dark-color: #000;
$header-top-color: #252525;
$title-color: #1a2631;
$grey-color: #737373;
$light-grey-color: #f3f3f3;
$field-bg-color: #efefef;
$error-color: #ff0000;
$sale-color: #ff0024;
$border-color: #e5e4e2;
$shop-color: #f09d66;
$nav-active-color: #e4e4e4;
$slider-btn-color: #6c6865;
$product-slider-btn-color: #cacaca;
$size-color: #333;
$size-border-color: #e1e1e1;
$label-color: #c1c1c1;
$checkbox-border-color: #b7b7b7;
$footer-bg-color: #141414;
$footer-link-color: #737373;
$subscribe-color: #6a6a6a;
$content-gradient: linear-gradient(to right, #f3f3f3, #fff);
$nav-gradient: linear-gradient(to right, #f2f2f2, #f4f4f4);
$font-stack: 'Roboto', sans-serif;
