*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	//This defines what 1rem is
	font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%;

	//Smooth scroll
	scroll-behavior: smooth;

	//Reduced font-size on smaller devices
	@include respond(tab-land) {
		font-size: 55%;
	}

	@include respond(tab-port) {
		font-size: 50%;
	}
}

body {
	box-sizing: border-box;
	background-color: $color-bg-primary;
	font-family: 'Montserrat', sans-serif;
	color: $color-text-primary;
}


