

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

header {
	background: url(../img/Header__bg.jpg) center no-repeat;
	background-size: cover;
	padding-top: 30px;
	padding-bottom: 150px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	position: relative;
	
}

.header__phones-box {
	position: absolute;
	bottom: 0;
	right: 10%;
	transform: translateY(20%);
}

.container {
	max-width: 1260px;
	padding: 0 10px;
	margin: 0 auto;
}

.header {
	// width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	background-color: #fff;
	padding: 0 2.8% 0 3.06%;
	margin: 0 auto;
	// position: fixed;
	// top: 30px;
	margin-bottom: 172px;
	
	.logo {
		color: #3c9;
		text-decoration: none;
		font: 500 30px/36px 'Raleway', sans-serif;

	}
}

.nav {
	width: 36.45%;
	display: flex;

	justify-content: space-between;

	& a {
		text-decoration: none;
		color: #999;
		font: 600 13px/36px 'Open Sans', sans-serif;
		text-transform: uppercase;

		&:hover {
			color: #333;
		}
	}
}

.header__message {
	color: #fff;
	padding-left: 36px;
	
}

.header__title {
	font: 700 42px/36px 'Raleway', sans-serif;
}

.header__subtitle {
	font: 500 22px/36px 'Open Sans', sans-serif;
}

.header__list {
	margin-top: 30px;
	margin-bottom: 60px;
	padding-left: 20px;
}

.header__list-item {
	font-size: 16px;
	line-height: 36px;
}

.ic--cloud {
	width: 36px;
	height: 36px;
	background: url('../img/cloud-computing.svg') center no-repeat;
	position: absolute;
	left: 22px;
	top: 50%;
	transform: translateY(-50%);
	background-size: 30px;
}

.download-link {
	display: inline-block;
	text-decoration: none;
	min-width: 212px;
    background: #0c9;
    color: #fff;
    font: 500 20px/50px 'Open Sans', sans-serif;
	text-align: center;
	text-indent: 40px;
    padding: 0 10px;
    border-radius: 6px;
    transition: 0.3s;
    position: relative;


}

.section-header {
	color: #0c9;
	text-align: center;
	text-transform: uppercase;
	font: 700 28px/36px 'Raleway', sans-serif;
}

.features {
	padding: 120px 0 60px;
	
	p {
		width: 70%;
		margin: 70px auto;
		text-align: center;
		color: #666666;
		font: 400 18px/36px 'Open Sans', sans-serif;
	}

	&__content {
		display: flex;
		justify-content: space-between;
	}
}

.features__list {
	width: 350px;
	color: #000;
	display: flex;
	flex-direction: column;
	padding-top: 75px;
	 


	&-item {
		padding-left: 80px;
		margin-bottom: 100px;
		position: relative;

		

		h3 {
			font: 900 18px/18px 'Raleway', sans-serif;
			margin-bottom: 10px;
		}

		span {
			display: inline-block;
			font: 400 13px/24px 'Open Sans', sans-serif;
			

		}

	}

	&-icon {
		position: absolute;
		top: 0;
		left: 0;
		width: 36px;
		height: 36px;
		background: url(../img/user.svg) no-repeat;
		background-size: cover;
	}
}


.features__image {
	width: 420px;
	padding: 0 10px;
	// height: 670px;
	

	&-phone {
		width: 100%;
		height: auto;
	}
}

.video {
	clear: left;
	background-color: #3cf;

	& .container {
		display: flex;
		justify-content: space-between;
	}

	&__title {
		font: 700 28px/18px 'Raleway', sans-serif;
		text-transform: uppercase;
	}


	&__description {
		width: 43.55%;

		& p {
			color: #fff;
			font: 300 16px/26px 'Open Sans', sans-serif;
		}
	}
}

.video__clip {
	width: 40.32%;
}

.team {
	& p {
		text-align: center;
		margin: 0 14.11%;
		color: #666666;
		font: 500 16px/24px 'Open Sans', sans-serif;
	}
}




.contact {
	background: #000 url('../img/footer__bg.jpg') center no-repeat;
	background-size: cover;

	&__details {
		width: 33.71%;

		h3 {
			font: 400 24px/24px 'Raleway', sans-serif;
		}

		p {
			font: 400 14px/21px 'Open Sans', sans-serif;
		}
	}

	&__form {
		width: 45.97%;
	}
}

.wrapper {
	// width: 94.03%;
	max-width: 1170px;
}



.contact-content {
	display: flex;
	max-width: 1170px;
	justify-content: space-around;
}






