<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Footers</title>
	<link rel="stylesheet" href="../../css/templates/footers/style.css">
</head>
<body>
	<div class="container">
		<a href="views/footer1/" class="footer-link"><img src="img/footer1.jpg" alt="f1-img" class="footer-link__img"></a>
		<a href="views/footer2/" class="footer-link"><img src="img/footer2.jpg" alt="f2-img" class="footer-link__img"></a>
		<a href="views/footer3/" class="footer-link"><img src="img/footer3.jpg" alt="f3-img" class="footer-link__img"></a>
		<a href="views/footer4/" class="footer-link"><img src="img/footer4.jpg" alt="f4-img" class="footer-link__img"></a>
		<a href="views/footer5/" class="footer-link"><img src="img/footer5.jpg" alt="f5-img" class="footer-link__img"></a>
		<a href="views/footer6/" class="footer-link"><img src="img/footer6.jpg" alt="f6-img" class="footer-link__img"></a>
		<a href="views/footer7/" class="footer-link"><img src="img/footer7.jpg" alt="f7-img" class="footer-link__img"></a>
		<a href="views/footer8/" class="footer-link"><img src="img/footer8.jpg" alt="f8-img" class="footer-link__img"></a>
		<a href="views/footer9/" class="footer-link"><img src="img/footer9.jpg" alt="f9-img" class="footer-link__img"></a>
		<a href="views/footer10/" class="footer-link"><img src="img/footer10.jpg" alt="f10-img" class="footer-link__img"></a>
	</div>
</body>
</html>