/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto-cyrillic-ext.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto-cyrillic.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto-latin-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto-cyrillic.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}



*{
	box-sizing: border-box;
	margin: 0; 
	padding: 0;
}

body {
	background: #fff url(../img/body_bg.jpg) center no-repeat;
	background-size: cover;
	font: 300 18px/21px 'Roboto', sans-serif;

}

.cont {
  max-width: 960px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  padding: 20px 15px;

  @media  screen and (max-width: 425px) {
  	justify-content: center;
  	
  }

  
}

.wrapper {
  width: calc(100% / 4);
  display: flex;
  justify-content: center;


  @media  screen and (max-width: 768px) {
  	width: calc(100% / 2);
  	
  }

  @media  screen and (max-width: 425px) {
  	width: calc(100% / 1);
  	
  }
	
}

.product {
	height: 346px;
	width: 225px;
	background: #f2f5f8;
	margin-right:  20px;
	border-radius: 10px;
	margin-bottom: 30px;

	&__image {
		
		img {
		  width: 100%;
		  height: auto;
		  
		}
	}

	&__desc {
		height: 35%;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 5px 32px 10px;

		&--madonna {
			padding: 0 32px 1px;
		}

		a {
			text-decoration: none;
		}


	}

	&__desc-heading {
		color: #2757b0;
		font: 400 18px/21px 'Roboto', sans-serif;
		
	}

	&__desc-price {
		font-weight: 700;
		
	}

	&:hover {
		box-shadow: 2px 2px 20px #f0f0f0;
		box-shadow: -2px -2px 30px #f0f0f0;
	}
}

