<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Footer5</title>
	<link rel="stylesheet" href="../../../../css/templates/footers/footer5/style.css">
</head>
<body>
	<footer class="footer">
		<div class="footer__head">
		<form action="#">
			<div class="footer__head-container container">
					<label for="subs" class="footer__head-label">Subscribe our newsletters</label>
					<div class="footer__head-input">
						<input type="email" id="subs" class="input-field input-field--ic--left" placeholder="Your e-mail here">
						<span class="icon icon--envelope"></span>
					</div>
					<button class="btn btn--rounded btn--warning footer__head-btn">Subscribe</button>
			</div>
				</form>
		</div>
		<div class="footer__body">
			<div class="container">
				<div class="footer__content">
					<div class="footer__body-part footer__body-part--logo">
						<div class="logo"></div>
					</div>
					<div class="footer__body-part footer__body-part--nav">
						<h6 class="footer__body-part-title">Services</h6>
						<ul>
							<li><a href="#" class="footer__service-nav-link">Branding</a></li>     
							<li><a href="#" class="footer__service-nav-link">UX Design</a></li>
							<li><a href="#" class="footer__service-nav-link">Prototype</a></li>
							<li><a href="#" class="footer__service-nav-link">UI Design</a></li>
							<li><a href="#" class="footer__service-nav-link">Development</a></li>
						</ul>
					</div>
					<div class="footer__body-part footer__body-part--map"><span class="icon icon--placeholder"></span></div>
					<div class="footer__body-part footer__body-part--contacts">
						<span class="footer__body-part-title">UI8 &copy; 2010–2014 </span>
						<span class="footer__contact-info"><a href="tel:4154969612" class="footer__contact-info--phone-num">(415) 496-9612</a><br>920 Reserve Dr. Suite 140<br>Roseville, CA 95678</span>
						<a href="#" class="btn btn--sm btn--rounded btn--info footer__contact-link">Email Us</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>