<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Footer2</title>
	<link rel="stylesheet" href="../../../../css/templates/footers/footer2/style.css">
</head>
<body>
	<footer class="footer">
		<div class="footer__content">
			<div class="footer__part footer__part--content">
				<h4 class="footer__content-title">Design assets to speed up your workflow</h4>
				<p class="footer__content-paragraph">Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
				<div class="follow-links">
					<a href="#" class="follow-links__item follow-links__item--fb"><span class="icon icon--facebook"></span>136</a>
					<a href="#" class="follow-links__item follow-links__item--tw"><span class="icon icon--twitter"></span>68</a>
					<a href="#" class="follow-links__item follow-links__item--db"><span class="icon icon--dribbble"></span>16</a>
					<a href="#" class="follow-links__item follow-links__item--in"><span class="icon icon--linkedin"></span>13</a>
				</div>
				<div class="footer__content-other-links">
					<a href="#" class="footer__content-other-link">Terms and Conditions</a>
					<a href="#" class="footer__content-other-link">Privacy Policy</a>
				</div>
			</div>
			<div class="footer__part footer__part--nav">
				<div class="footer__part--nav-list">
					<h6 class="footer__part--nav-list-title">Services</h6>
					<ul>
						<li><a href="#" class="footer__part--nav-list-link">Branding</a></li>     
						<li><a href="#" class="footer__part--nav-list-link">UX Design</a></li>
						<li><a href="#" class="footer__part--nav-list-link">Prototype</a></li>
						<li><a href="#" class="footer__part--nav-list-link">UI Design</a></li>
						<li><a href="#" class="footer__part--nav-list-link">Development</a></li>
					</ul>
				</div>
				<div class="footer__part--nav-list">
				<h6 class="footer__part--nav-list-title">About Us</h6>
					<ul>
						<li><a href="#" class="footer__part--nav-list-link">Company</a></li>
						<li><a href="#" class="footer__part--nav-list-link">Our Team</a></li>
						<li><a href="#" class="footer__part--nav-list-link">Testimonials</a></li>
						<li><a href="#" class="footer__part--nav-list-link">Contacts</a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>