@import url("https://fonts.googleapis.com/css?family=Cabin:400,600");

.btn--rounded {
  border-radius: 6px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  min-width: 140px;
  padding: 10px;
  border: 2px solid transparent;
  text-align: center;
  font-family: "Cabin", sans-serif;
  letter-spacing: 0.02em;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  text-decoration: none;
}

.btn--sm {
  min-width: 120px;
  padding: 4px 10px;
  font-size: 14px;
}

.btn--lg {
  min-width: 190px;
  padding: 16px;
  font-size: 18px;
}

.btn--round {
  border-radius: 999px;
}

.btn--circle {
  border-radius: 50%;
}

.btn--circle-chevron {
  position: relative;
  width: 48px;
  height: 48px;
  color: #FFF;
  border: 2px solid #fff;
}

.btn--circle-chevron:after {
  width: 2px;
  height: 2px;
  background: currentColor;
  content: "";
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn--circle-chevron-left:after {
  top: 50%;
  left: calc(50% - 4px);
  position: absolute;
  -webkit-box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, 5px -5px 0 0 currentColor, 6px -6px 0 0 currentColor, 1px 1px 0 0 currentColor, 2px 2px 0 0 currentColor, 3px 3px 0 0 currentColor, 4px 4px 0 0 currentColor, 5px 5px 0 0 currentColor, 6px 6px 0 0 currentColor;
  box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, 5px -5px 0 0 currentColor, 6px -6px 0 0 currentColor, 1px 1px 0 0 currentColor, 2px 2px 0 0 currentColor, 3px 3px 0 0 currentColor, 4px 4px 0 0 currentColor, 5px 5px 0 0 currentColor, 6px 6px 0 0 currentColor;
}

.btn--circle-chevron-right:after {
  top: 50%;
  left: calc(50% + 4px);
  position: absolute;
  -webkit-box-shadow: -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor, -5px -5px 0 0 currentColor, -6px -6px 0 0 currentColor, -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, -4px 4px 0 0 currentColor, -5px 5px 0 0 currentColor, -6px 6px 0 0 currentColor;
  box-shadow: -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor, -5px -5px 0 0 currentColor, -6px -6px 0 0 currentColor, -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, -4px 4px 0 0 currentColor, -5px 5px 0 0 currentColor, -6px 6px 0 0 currentColor;
}

.btn--circle-chevron-down:after {
  top: calc(50% + 4px);
  left: 50%;
  position: absolute;
  -webkit-box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, 5px -5px 0 0 currentColor, 6px -6px 0 0 currentColor, -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor, -5px -5px 0 0 currentColor, -6px -6px 0 0 currentColor;
  box-shadow: 1px -1px 0 0 currentColor, 2px -2px 0 0 currentColor, 3px -3px 0 0 currentColor, 4px -4px 0 0 currentColor, 5px -5px 0 0 currentColor, 6px -6px 0 0 currentColor, -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor, -5px -5px 0 0 currentColor, -6px -6px 0 0 currentColor;
}

.btn--ghost {
  background-color: transparent;
  border-color: #65abd0;
  color: #65abd0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn--ghost:hover {
  border-color: #4F87A4;
  color: #4F87A4;
}

.btn--square {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  border: 2px solid transparent;
  color: #FFF;
  width: 48px;
  height: 48px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
  cursor: pointer;
}

.btn--square--sm {
  width: 36px;
  height: 36px;
}

.btn--square--lg {
  width: 60px;
  height: 60px;
}

.btn--arrow {
  position: relative;
  min-width: 75px;
  padding-left: 15px;
}

.btn--arrow:after {
  width: 30px;
  height: 30px;
  background: inherit;
  top: 50%;
  right: -1px;
  position: absolute;
  content: '';
  border-top-right-radius: 6px;
  -webkit-transform: translate(50%, -50%) rotate(45deg);
  transform: translate(50%, -50%) rotate(45deg);
}

.btn--arrow__text {
  position: relative;
  z-index: 1;
}

.btn--arrow--sm {
  min-width: 90px;
}

.btn--arrow--sm:after {
  width: 25px;
  height: 25px;
  right: 1px;
}

.btn--full {
  width: 100%;
}

.btn--success {
  background-color: #24aa98;
}

.btn--success:hover {
  background-color: #258578;
}

.btn--danger {
  background-color: #db7560;
}

.btn--danger:hover {
  background-color: #B15E4D;
}

.btn--warning {
  background-color: #d9c26c;
}

.btn--warning:hover {
  background-color: #A99755;
}

.btn--info {
  background-color: #65abd0;
}

.btn--info:hover {
  background-color: #4F87A4;
}

.btn--primary {
  background-color: #3162a2;
}

.btn--primary:hover {
  background-color: #274873;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cabin", sans-serif;
  letter-spacing: 0.02em;
  color: #383737;
  font-weight: 600;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

.logo {
  width: 71px;
  height: 66px;
  background: url("../../../../img/logo.svg");
}

.footer {
  padding: 30px 0 50px;
  background-color: #f2f5f8;
}

.footer__part {
  padding: 10px;
  float: left;
}

.footer__part--logo {
  width: 16%;
}

.footer__part--contacts {
  width: 26%;
}

.footer__part--info {
  width: 34%;
}

.footer__part--app {
  width: 24%;
}

.footer__part-title {
  font-size: 16px;
  line-height: 36px;
}

.footer__part-paragraph {
  font-size: 16px;
  line-height: 22px;
  color: #b4bbc2;
  display: block;
}

.footer__part-btn-link {
  display: block;
  width: 140px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.footer__part-simple-link {
  font-size: 16px;
  line-height: 22px;
  color: #65abd0;
  text-decoration: none;
}

.footer__part-simple-link:hover {
  text-decoration: underline;
}

.footer__phone-link {
  margin: 25px 0;
}

.footer__phone-link,
.footer__email-link {
  text-decoration: none;
}

.footer__phone-link:hover,
.footer__email-link:hover {
  text-decoration: underline;
}

@media (max-width: 650px) {
  .logo {
    margin: 0 auto;
  }

  .footer__part {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .footer__part {
    width: 100%;
    float: none;
  }
}
/*# sourceMappingURL=style.css.map */
