/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: border-box;
  /* 2 */
  box-sizing: border-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.title {
  font-size: 34px;
  line-height: 100%;
  color: #06102F;
  margin-top: 0;
  font-weight: 400;
}

.arrow-link {
  font-size: 10px;
  line-height: 100%;
  color: #48474E;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 700;
}

.arrow-link:hover:after {
  right: -25px;
}

.arrow-link:hover:before {
  width: 25px;
}

.arrow-link:after {
  top: 50%;
  right: -15px;
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-top: 2px solid #292B2C;
  border-right: 2px solid #292B2C;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.arrow-link:before {
  top: 0;
  left: 100%;
  position: absolute;
  content: '';
  width: 18px;
  height: 100%;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 860px;
  margin-bottom: 105px;
}

.tab__img-box {
  position: relative;
  width: 50%;
  height: 100%;
}

.tab__img-item {
  top: 0;
  left: -10%;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  opacity: 0;
}

.tab__img-item--elegance {
  background: url(../img/elegance-img.jpg) center;
}

.tab__img-item--creation {
  background: url(../img/creation-img.jpg) center;
}

.tab__img-item--family {
  background: url(../img/family-office-img.jpg) center;
}

.tab__img-item--expirience {
  background: url(../img/expirience-img.jpg) center;
}

.tab__info {
  position: relative;
  width: 50%;
  height: 760px;
  background-color: #F8F9FA;
}

.tab__content {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 445px;
  -webkit-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  opacity: 0;
}

.tab__content-title {
  margin-bottom: 40px;
}

.tab__content-desc {
  font-size: 16px;
  line-height: 32px;
  color: #06102F;
  margin-bottom: 30px;
  text-align: justify;
}

.tab__link {
  display: inline-block;
  margin-top: 20px;
}

.tab__nav {
  top: 100px;
  left: 50%;
  position: absolute;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 6px;
  border-radius: 2px;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tab__nav-radio {
  display: none;
}

.tab__nav-item {
  font-size: 10px;
  line-height: 48px;
  color: #869099;
  display: block;
  height: 100%;
  margin-right: 5px;
  padding: 0 20px;
  border-radius: 2px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.tab__nav-item:last-child {
  margin-right: 0;
}

.tab__nav-item:hover {
  background-color: rgba(6, 16, 47, 0.05);
}

.tab__nav-radio:checked + .tab__nav-item {
  background-color: rgba(6, 16, 47, 0.05);
  color: #06102F;
}

.show-content {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
}

.hide-content {
  -webkit-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
  opacity: 0;
}

.show-picture {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  left: 0;
  opacity: 1;
}

.hide-picture {
  left: -10%;
  opacity: 0;
}

.slider {
  margin-left: 12%;
  margin-bottom: 100px;
}

.slider__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 1110px;
  height: 65px;
  padding: 0 30px;
  border-bottom: 1px solid #E4E6E8;
}

.slider__link {
  margin-right: 20px;
}

.slider__body {
  padding: 40px 0;
}

.slider__box {
  width: 100%;
  margin-left: -15px;
  margin-right: -15px;
  overflow: hidden;
}

.slider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px;
}

.slider__item-title {
  font-size: 18px;
  line-height: 100%;
  color: #2B2A36;
  display: block;
  margin-bottom: 15px;
  font-weight: 400;
}

.slider__item-text {
  font-size: 16px;
  line-height: 30px;
  color: #869099;
}

.slider__picture {
  width: 445px;
  height: 445px;
  overflow: hidden;
  margin-bottom: 40px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.slider__picture:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.slider__picture-item {
  height: 100%;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.slider__picture-item:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.slider__text-box {
  padding: 0 75px 0 30px;
}

@media (max-width: 1023px) {
  .tab__info {
    height: 600px;
  }

  .tab__content-title {
    margin-bottom: 30px;
  }

  .tab__content-desc {
    margin-bottom: 20px;
    line-height: 28px;
  }

  .tab__content {
    width: 100%;
    padding: 0 20px;
  }

  .tab__link {
    margin-top: 0;
  }

  .tab__nav {
    top: 40px;
  }

  .tab {
    height: 650px;
  }
}

@media (max-width: 767px) {
  .tab__img-box {
    height: 500px;
    width: 100%;
  }

  .tab__img-item {
    background-size: cover;
  }

  .tab__info {
    width: 100%;
    height: 450px;
  }

  .tab__nav-item {
    padding: 0 10px;
    line-height: 36px;
  }

  .tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
  }

  .slider__box {
    margin-left: 0;
  }

  .slider__item {
    width: 450px;
  }

  .slider__picture {
    width: 100%;
  }

  .slider {
    margin-left: 0;
  }
}

@media (max-width: 449px) {
  .tab__img-box {
    height: 250px;
  }

  .tab__info {
    height: 550px;
  }

  .tab__nav-item {
    padding: 0 5px;
    line-height: 24px;
    letter-spacing: 0.05em;
  }

  .tab__nav {
    top: 10px;
    padding: 2px;
  }

  .slider__head {
    padding: 0 10px;
  }

  .slider__item {
    width: 320px;
  }

  .slider__picture {
    height: 300px;
  }

  .slider__text-box {
    padding: 0 20px;
  }
}

@media (max-height: 449px) {
  .slider__item {
    width: 320px;
  }

  .slider__picture {
    height: 300px;
  }

  .slider__text-box {
    padding: 0 20px;
  }
}
/*# sourceMappingURL=style.css.map */
