.u-center-text { text-align: center; }
.u-center-block { margin: 0 auto; }
.u-center-absolute { 
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.u-margin-bottom-8 { margin-bottom: 8rem; }
.u-pd-10 { padding: 1rem; }