<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Footer1</title>
	<link rel="stylesheet" href="../../../../css/templates/footers/footer1/style.css">
</head>
<body>
	<footer class="footer">
		<div class="footer__content">
			<div class="footer__menu">
				<div class="logo"></div>
				<div class="footer__nav">
					<a href="#" class="footer__nav-link">Products</a>
					<a href="#" class="footer__nav-link">Prices</a>
					<a href="#" class="footer__nav-link">About Us</a>
					<a href="#" class="footer__nav-link">Contacts</a>
				</div>
				<div class="social-links">
					<a href="#" class="icon icon--facebook"></a>
					<a href="#" class="icon icon--twitter"></a>
					<a href="#" class="icon icon--google-plus"></a>
				</div>
			</div>
			<div class="footer__contact-info">
				<span class="footer__contact-info-region">Roseville, CA</span><br>
				<span class="footer__contact-info-more">920 Reserve Dr. Suite 140<br><a href="tel:415 496-9612" class="footer__contact-info-more footer__phone-num">(415) 496-9612</a></span>
			</div>
		</div>
	</footer>
</body>
</html>