
$icon-calendar: "\EA01" !default;

$icon-facebook: "\EA02" !default;

$icon-instagram: "\EA03" !default;

$icon-pencil: "\EA04" !default;

$icon-phone: "\EA05" !default;

$icon-pinterest: "\EA06" !default;

$icon-rss: "\EA07" !default;

$icon-shopping-cart: "\EA08" !default;

$icon-twitter: "\EA09" !default;