@charset "UTF-8";

/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: border-box;
  /* 2 */
  box-sizing: border-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-light-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-black-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/myriad/MyriadProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icon-font";
  src: url("../fonts/icon/icon-font.woff2") format("woff2"), url("../fonts/icon/icon-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "icon-font";
}

.icon:before {
  /* Some common icon stuff */
}

.icon.icon--calendar:before {
  content: "";
}

.icon.icon--facebook:before {
  content: "";
}

.icon.icon--instagram:before {
  content: "";
}

.icon.icon--pencil:before {
  content: "";
}

.icon.icon--phone:before {
  content: "";
}

.icon.icon--pinterest:before {
  content: "";
}

.icon.icon--rss:before {
  content: "";
}

.icon.icon--shopping-cart:before {
  content: "";
}

.icon.icon--twitter:before {
  content: "";
}

.header__top {
  background-color: #252525;
}

.header__top-nav {
  float: left;
}

.header__top-link {
  font-size: 12px;
  line-height: 30px;
  color: #fffafa;
  text-decoration: none;
  font-weight: 300;
}

.header__top-link:hover {
  text-decoration: underline;
}

.header__top-link:not(:first-child) {
  margin-left: 25px;
}

.header__top-link--phone {
  float: right;
}

.header__top-link--phone:hover {
  text-decoration: none;
  opacity: 0.9;
}

.header__top-phone-icon {
  margin-right: 10px;
}

.header__main {
  padding: 23px 0;
  background: -webkit-gradient(linear, left top, right top, from(#f3f3f3), to(#fff));
  background: linear-gradient(to right, #f3f3f3, #fff);
}

.header__main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__main-content-right {
  width: 460px;
}

.header__main-content-right-top {
  margin-bottom: 14px;
}

.header__main-user {
  float: left;
}

.header__main-user-link {
  font-size: 13px;
  line-height: 28px;
  color: #3f3d3d;
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
  margin-right: 8px;
  border: 1px solid transparent;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0;
}

.header__main-user-link:last-child {
  margin-right: 0;
}

.header__main-user-link:hover {
  border-color: #e5e4e2;
}

.header__main-user-link.is-active {
  border-color: #e5e4e2;
}

.header__main-cart {
  float: right;
}

.header__main-cart-link {
  font-size: 13px;
  line-height: 28px;
  color: #3f3d3d;
  vertical-align: middle;
  font-weight: 300;
  text-decoration: none;
  letter-spacing: 0;
}

.header__main-cart-icon {
  vertical-align: middle;
  margin-right: 10px;
  font-size: 18px;
  line-height: 18px;
}

.header__main-cart-check {
  display: inline-block;
  vertical-align: middle;
  margin-left: 18px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0;
}

.header__nav-box {
  padding-bottom: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#f3f3f3), to(#fff));
  background: linear-gradient(to right, #f3f3f3, #fff);
}

.header__nav {
  float: left;
  background: -webkit-gradient(linear, left top, right top, from(#f2f2f2), to(#f4f4f4));
  background: linear-gradient(to right, #f2f2f2, #f4f4f4);
}

.header__nav-link {
  font-size: 16px;
  line-height: 40px;
  color: #3f3d3d;
  padding: 0 30px;
  float: left;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.header__nav-link:hover {
  background-color: #e4e4e4;
}

.header__nav-link.is-active {
  background-color: #e4e4e4;
}

.header__nav-close {
  top: 20px;
  right: 20px;
  position: absolute;
  display: none;
  width: 30px;
  height: 30px;
  color: #fff;
  cursor: pointer;
}

.header__nav-close:after,
.header__nav-close:before {
  top: 50%;
  left: 50%;
  position: absolute;
  width: 100%;
  height: 2px;
  background: currentColor;
  content: "";
}

.header__nav-close:after {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.header__nav-close:before {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}

.header__dropdown-btn {
  position: relative;
  display: none;
  width: 20px;
  height: 16px;
  margin-left: 20px;
  color: #000;
  cursor: pointer;
}

.header__dropdown-btn:after {
  width: 100%;
  height: 2px;
  background: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  -webkit-box-shadow: 0 -7px 0 0 currentColor, 0 7px 0 0 currentColor;
  box-shadow: 0 -7px 0 0 currentColor, 0 7px 0 0 currentColor;
}

.slider {
  width: 100%;
  height: 610px;
  background: #1a2631;
  position: relative;
  margin: 35px 0;
  overflow: hidden;
}

.slider__item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  opacity: 0;
}

.slider__item--first {
  background: url("../img/slider-pic-1.jpg") top center;
  background-size: cover;
}

.slider__item--second {
  background: url("../img/slider-pic-2.jpg") top center;
  background-size: cover;
}

.slider__item--third {
  background: url("../img/slider-pic-3.jpg") top center;
  background-size: cover;
}

.slider__item--fourth {
  background: url("../img/slider-pic-4.jpg") top center;
  background-size: cover;
}

.slider__sale {
  top: 80px;
  left: 50%;
  position: absolute;
  z-index: 2;
  width: 278px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider__sale img {
  width: 100%;
  height: auto;
}

.slider__nav {
  bottom: 40px;
  left: 50%;
  position: absolute;
  z-index: 5;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
}

.slider__nav-item {
  width: 18px;
  height: 18px;
  background: #6c6865;
  float: left;
  border-radius: 50%;
  cursor: pointer;
}

.slider__nav-item:not(:first-child) {
  margin-left: 10px;
}

.slider__nav-item.is-active {
  background-color: #000;
}

.product-slider {
  margin-bottom: 35px;
  background: -webkit-gradient(linear, left top, right top, from(#f3f3f3), to(#fff));
  background: linear-gradient(to right, #f3f3f3, #fff);
}

.product-slider__img-block {
  width: 50%;
  float: left;
  height: 800px;
  background: url("../img/bg-img.jpg") top center;
  background-size: cover;
}

.product-slider__slide-part {
  width: 50%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 45px 20px;
}

.product-slider__wrap {
  position: relative;
  width: 455px;
  height: 700px;
  padding-bottom: 100px;
}

.product-slider__box {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden;
}

.product-slider__box:hover .product-slider__item,
.product-slider__box:hover + .product-slider__nav > .product-slider__nav-item {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.product-slider__item {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  padding: 0 15px 30px 15px;
}

.product-slider__item--first {
  -webkit-animation: cycle 20s linear infinite;
  animation: cycle 20s linear infinite;
}

.product-slider__item--second {
  -webkit-animation: cycletwo 20s linear infinite;
  animation: cycletwo 20s linear infinite;
}

.product-slider__item--third {
  -webkit-animation: cyclethree 20s linear infinite;
  animation: cyclethree 20s linear infinite;
}

.product-slider__item--fourth {
  -webkit-animation: cyclefour 20s linear infinite;
  animation: cyclefour 20s linear infinite;
}

.product-slider__item-link {
  text-decoration: none;
}

.product-slider__picture {
  width: 100%;
  height: auto;
}

.product-slider__name {
  font-size: 22px;
  line-height: 34px;
  color: #000;
  display: block;
  font-weight: 900;
  text-transform: uppercase;
}

.product-slider__price {
  font-size: 28px;
  line-height: 36px;
  color: #000;
}

.product-slider__nav {
  bottom: 50px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.product-slider__nav-item {
  width: 10px;
  height: 10px;
  background: #cacaca;
  float: left;
  border-radius: 50%;
}

.product-slider__nav-item:not(:first-child) {
  margin-left: 30px;
}

.product-slider__nav-item--first {
  -webkit-animation: navone 20s linear infinite;
  animation: navone 20s linear infinite;
}

.product-slider__nav-item--second {
  -webkit-animation: navtwo 20s linear infinite;
  animation: navtwo 20s linear infinite;
}

.product-slider__nav-item--third {
  -webkit-animation: navthree 20s linear infinite;
  animation: navthree 20s linear infinite;
}

.product-slider__nav-item--fourth {
  -webkit-animation: navfour 20s linear infinite;
  animation: navfour 20s linear infinite;
}

@-webkit-keyframes cycle {
  0% {
    left: 0;
  }

  5% {
    left: 0;
  }

  20% {
    left: 0;
    opacity: 1;
    z-index: 0;
  }

  25% {
    left: -100%;
    opacity: 0;
    z-index: 0;
  }

  30% {
    left: 100%;
    opacity: 0;
    z-index: -1;
  }

  90% {
    left: 100%;
    opacity: 0;
    z-index: 0;
  }

  95% {
    left: 100%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes cycle {
  0% {
    left: 0;
  }

  5% {
    left: 0;
  }

  20% {
    left: 0;
    opacity: 1;
    z-index: 0;
  }

  25% {
    left: -100%;
    opacity: 0;
    z-index: 0;
  }

  30% {
    left: 100%;
    opacity: 0;
    z-index: -1;
  }

  90% {
    left: 100%;
    opacity: 0;
    z-index: 0;
  }

  95% {
    left: 100%;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes cycletwo {
  0% {
    left: 100%;
    opacity: 0;
  }

  20% {
    left: 100%;
    opacity: 0;
  }

  25% {
    left: 0;
    opacity: 1;
  }

  30% {
    left: 0;
    opacity: 1;
  }

  45% {
    left: 0;
    opacity: 1;
    z-index: 0;
  }

  50% {
    left: -100%;
    opacity: 0;
    z-index: 0;
  }

  55% {
    left: 100%;
    opacity: 0;
    z-index: -1;
  }

  100% {
    left: 100%;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycletwo {
  0% {
    left: 100%;
    opacity: 0;
  }

  20% {
    left: 100%;
    opacity: 0;
  }

  25% {
    left: 0;
    opacity: 1;
  }

  30% {
    left: 0;
    opacity: 1;
  }

  45% {
    left: 0;
    opacity: 1;
    z-index: 0;
  }

  50% {
    left: -100%;
    opacity: 0;
    z-index: 0;
  }

  55% {
    left: 100%;
    opacity: 0;
    z-index: -1;
  }

  100% {
    left: 100%;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cyclethree {
  0% {
    left: 100%;
    opacity: 0;
  }

  45% {
    left: 100%;
    opacity: 0;
  }

  50% {
    left: 0;
    opacity: 1;
  }

  55% {
    left: 0;
    opacity: 1;
  }

  70% {
    left: 0;
    opacity: 1;
  }

  75% {
    left: -100%;
    opacity: 0;
    z-index: 0;
  }

  80% {
    left: 100%;
    opacity: 0;
    z-index: -1;
  }

  100% {
    left: 100%;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cyclethree {
  0% {
    left: 100%;
    opacity: 0;
  }

  45% {
    left: 100%;
    opacity: 0;
  }

  50% {
    left: 0;
    opacity: 1;
  }

  55% {
    left: 0;
    opacity: 1;
  }

  70% {
    left: 0;
    opacity: 1;
  }

  75% {
    left: -100%;
    opacity: 0;
    z-index: 0;
  }

  80% {
    left: 100%;
    opacity: 0;
    z-index: -1;
  }

  100% {
    left: 100%;
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes cyclefour {
  0% {
    left: 100%;
    opacity: 0;
  }

  70% {
    left: 100%;
    opacity: 0;
  }

  75% {
    left: 0;
    opacity: 1;
  }

  80% {
    left: 0;
    opacity: 1;
  }

  95% {
    left: 0;
    opacity: 1;
    z-index: 0;
  }

  100% {
    left: -100%;
    opacity: 0;
    z-index: 0;
  }
}

@keyframes cyclefour {
  0% {
    left: 100%;
    opacity: 0;
  }

  70% {
    left: 100%;
    opacity: 0;
  }

  75% {
    left: 0;
    opacity: 1;
  }

  80% {
    left: 0;
    opacity: 1;
  }

  95% {
    left: 0;
    opacity: 1;
    z-index: 0;
  }

  100% {
    left: -100%;
    opacity: 0;
    z-index: 0;
  }
}

@-webkit-keyframes navone {
  0% {
    background-color: #000;
  }

  20% {
    background-color: #000;
  }

  25% {
    background-color: #cacaca;
  }

  95% {
    background-color: #cacaca;
  }

  100% {
    background-color: #000;
  }
}

@keyframes navone {
  0% {
    background-color: #000;
  }

  20% {
    background-color: #000;
  }

  25% {
    background-color: #cacaca;
  }

  95% {
    background-color: #cacaca;
  }

  100% {
    background-color: #000;
  }
}

@-webkit-keyframes navtwo {
  0% {
    background-color: #cacaca;
  }

  20% {
    background-color: #cacaca;
  }

  25% {
    background-color: #000;
  }

  45% {
    background-color: #000;
  }

  50% {
    background-color: #cacaca;
  }
}

@keyframes navtwo {
  0% {
    background-color: #cacaca;
  }

  20% {
    background-color: #cacaca;
  }

  25% {
    background-color: #000;
  }

  45% {
    background-color: #000;
  }

  50% {
    background-color: #cacaca;
  }
}

@-webkit-keyframes navthree {
  0% {
    background-color: #cacaca;
  }

  45% {
    background-color: #cacaca;
  }

  50% {
    background-color: #000;
  }

  70% {
    background-color: #000;
  }

  75% {
    background-color: #cacaca;
  }
}

@keyframes navthree {
  0% {
    background-color: #cacaca;
  }

  45% {
    background-color: #cacaca;
  }

  50% {
    background-color: #000;
  }

  70% {
    background-color: #000;
  }

  75% {
    background-color: #cacaca;
  }
}

@-webkit-keyframes navfour {
  0% {
    background-color: #cacaca;
  }

  70% {
    background-color: #cacaca;
  }

  75% {
    background-color: #000;
  }

  95% {
    background-color: #000;
  }

  100% {
    background-color: #cacaca;
  }
}

@keyframes navfour {
  0% {
    background-color: #cacaca;
  }

  70% {
    background-color: #cacaca;
  }

  75% {
    background-color: #000;
  }

  95% {
    background-color: #000;
  }

  100% {
    background-color: #cacaca;
  }
}

.product-item {
  position: relative;
  z-index: 1;
  width: 25%;
  padding: 18px;
  margin-bottom: -90px;
}

.product-item:hover {
  z-index: 3;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.2);
}

.product-item:hover .product-item__more {
  visibility: visible;
}

.product-item__title {
  font-size: 14px;
  line-height: 18px;
  color: #000;
  display: block;
  margin: 5px 0;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
}

.product-item__title:hover {
  text-decoration: underline;
}

.product-item__price {
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.product-item__more {
  margin-top: 10px;
  visibility: hidden;
}

.product-item__more-text {
  font-size: 14px;
  line-height: 24px;
  color: #000;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 25px;
}

.product-item__size {
  display: inline-block;
  vertical-align: middle;
}

.product-item__size > span {
  font-size: 14px;
  line-height: 24px;
  color: #333;
  width: 46px;
  margin-right: -1px;
  border: 1px solid #e1e1e1;
  float: left;
  text-align: center;
  cursor: pointer;
}

.product-item__size > span:hover {
  -webkit-box-shadow: inset 0 0 1px 2px #e1e1e1;
  box-shadow: inset 0 0 1px 2px #e1e1e1;
}

.product-item__size > span.is-active {
  -webkit-box-shadow: inset 0 0 1px 2px #e1e1e1;
  box-shadow: inset 0 0 1px 2px #e1e1e1;
}

.product-item__action {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 24px;
}

.product-item__img {
  width: 100%;
  height: auto;
}

.sale__old-price {
  position: relative;
  vertical-align: middle;
  padding: 0 5px;
  font-size: 14px;
  opacity: 0.5;
}

.sale__old-price:after {
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 60%;
  left: 0;
  position: absolute;
  content: "";
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.sale__new-price {
  vertical-align: middle;
  margin-left: 22px;
  color: #ff0024;
}

.sale .dollar-symbol {
  display: none;
}

.footer {
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #141414;
}

.footer__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 55px;
}

.footer__title {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 35px;
  text-transform: uppercase;
  letter-spacing: 0;
}

.footer__list {
  padding: 0 10px;
}

.footer__list-link {
  font-size: 14px;
  line-height: 30px;
  color: #737373;
  text-decoration: none;
}

.footer__list-link:hover {
  color: #fff;
}

.footer__social-box {
  margin-bottom: 50px;
}

.footer__other {
  padding: 0 10px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

input,
button,
textarea {
  outline: none;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 400;
}

.btn {
  background-color: #000;
  text-align: center;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.wrapper {
  max-width: 1850px;
  margin: 0 auto;
}

.container {
  max-width: 1290px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  margin-left: 18px;
}

.logo img {
  width: 184px;
  height: auto;
}

.search-form {
  position: relative;
}

.search-form__field {
  width: 100%;
  height: 40px;
  padding: 0 35px 0 20px;
  border: 1px solid #e5e4e2;
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #3f3d3d;
}

.search-form__field.placeholder {
  color: #3f3d3d;
  font-weight: 300;
}

.search-form__field:-moz-placeholder {
  color: #3f3d3d;
  font-weight: 300;
}

.search-form__field::-moz-placeholder {
  color: #3f3d3d;
  font-weight: 300;
}

.search-form__field:-ms-input-placeholder {
  color: #3f3d3d;
  font-weight: 300;
}

.search-form__field::-webkit-input-placeholder {
  color: #3f3d3d;
  font-weight: 300;
}

.search-form__btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.search-form__btn:before {
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid currentColor;
}

.search-form__btn:after {
  bottom: 0;
  right: 0;
  position: absolute;
  width: 2px;
  height: 2px;
  background: currentColor;
  content: "";
  -webkit-box-shadow: -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor;
  box-shadow: -1px -1px 0 0 currentColor, -2px -2px 0 0 currentColor, -3px -3px 0 0 currentColor, -4px -4px 0 0 currentColor;
}

.title {
  font-size: 37px;
  line-height: auto;
  color: #1a2631;
  margin-top: 10px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-shadow: -1.8px 3.6px 3.3px rgba(0, 0, 2, 0.11);
}

.new-arrivals {
  padding: 30px 0;
  background: -webkit-gradient(linear, left top, right top, from(#f3f3f3), to(#fff));
  background: linear-gradient(to right, #f3f3f3, #fff);
}

.new-arrivals__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0 20px;
}

.brands {
  margin: 35px 0;
  padding: 30px 0;
  background: -webkit-gradient(linear, left top, right top, from(#f3f3f3), to(#fff));
  background: linear-gradient(to right, #f3f3f3, #fff);
}

.brands__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 60px 0 100px;
}

.brands__list-item {
  padding: 10px;
}

.brands__list-item > img {
  width: 100%;
  height: auto;
}

.news {
  padding: 30px 0;
  margin-bottom: 35px;
  background: -webkit-gradient(linear, left top, right top, from(#f3f3f3), to(#fff));
  background: linear-gradient(to right, #f3f3f3, #fff);
}

.news__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__item {
  width: 430px;
  padding: 12px;
}

.news__item-picture img {
  width: 100%;
  height: auto;
}

.news__info {
  margin-bottom: 10px;
}

.news__info-author,
.news__info-date {
  font-size: 13px;
  line-height: 23px;
  color: #000;
  letter-spacing: 0.14em;
}

.news__info-author {
  margin-right: 30px;
  text-decoration: none;
}

.news__info-ic {
  position: relative;
  top: 1px;
  margin-right: 10px;
}

.news__title {
  font-size: 14px;
  line-height: 24px;
  color: #1a2631;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

.news__text {
  font-size: 14px;
  line-height: 23px;
  color: #000;
  margin: 0;
  letter-spacing: 0.14em;
}

.news__action {
  display: inline-block;
  min-width: 108px;
  margin: 20px 0;
  padding: 0 10px;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0;
}

.contact {
  margin-bottom: 35px;
  padding: 30px 0;
  background: -webkit-gradient(linear, left top, right top, from(#f3f3f3), to(#fff));
  background: linear-gradient(to right, #f3f3f3, #fff);
}

.contact__form {
  max-width: 964px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.contact__field {
  width: 100%;
  height: 50px;
  background: #efefef;
  font-size: 14px;
  line-height: 23px;
  color: #000;
  border: 1px solid transparent;
  padding-left: 34px;
  padding-right: 20px;
  font-weight: 700;
  letter-spacing: 0.14em;
}

.contact__field.placeholder {
  text-transform: uppercase;
  color: #c0c0c0;
}

.contact__field:-moz-placeholder {
  text-transform: uppercase;
  color: #c0c0c0;
}

.contact__field::-moz-placeholder {
  text-transform: uppercase;
  color: #c0c0c0;
}

.contact__field:-ms-input-placeholder {
  text-transform: uppercase;
  color: #c0c0c0;
}

.contact__field::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #c0c0c0;
}

.contact__field--ta {
  height: 365px;
  padding-top: 10px;
  padding-bottom: 10px;
  resize: none;
}

.contact__field:valid {
  border-color: transparent;
}

.contact__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact__text-box-item {
  width: 48%;
  margin-bottom: 35px;
}

.contact__email-box {
  margin-bottom: 35px;
}

.contact__ch-box {
  margin-top: 15px;
}

.contact__ch-box-item {
  margin-bottom: 10px;
}

.contact__btn {
  min-width: 110px;
  margin-top: 20px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 40px;
}

.field-error {
  border-color: #ff0000;
}

.field-error.placeholder {
  color: #ff0000;
}

.field-error:-moz-placeholder {
  color: #ff0000;
}

.field-error::-moz-placeholder {
  color: #ff0000;
}

.field-error:-ms-input-placeholder {
  color: #ff0000;
}

.field-error::-webkit-input-placeholder {
  color: #ff0000;
}

.check-box {
  display: none;
  cursor: pointer;
}

.check-box:checked + .check-box__label {
  color: #000;
}

.check-box:checked + .check-box__label:before {
  border-color: #000;
  background-color: #000;
}

.check-box__label {
  font-size: 13px;
  line-height: 14px;
  color: #c1c1c1;
  position: relative;
  left: 35px;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
}

.check-box__label:before {
  top: -1px;
  left: -35px;
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #b7b7b7;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff;
}

.footer {
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #141414;
}

.footer__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 55px;
}

.footer__title {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 35px;
  text-transform: uppercase;
  letter-spacing: 0;
}

.footer__list {
  padding: 0 10px;
}

.footer__list-link {
  font-size: 14px;
  line-height: 30px;
  color: #737373;
  text-decoration: none;
}

.footer__list-link:hover {
  color: #fff;
}

.footer__social-box {
  margin-bottom: 50px;
}

.footer__other {
  padding: 0 10px;
}

.social-nav__link {
  width: 50px;
  height: 50px;
  background: #fff;
  font-size: 24px;
  line-height: 50px;
  color: #000;
  float: left;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
}

.social-nav__link:not(:first-child) {
  margin-left: 15px;
}

.social-nav__link--pinterest {
  font-size: 26px;
}

.social-nav__link--rss {
  font-size: 20px;
}

.subscribe-box__input-group {
  position: relative;
  width: 362px;
}

.subscribe-box__field {
  width: 100%;
  height: 42px;
  background: transparent;
  border: 1px solid #6a6a6a;
  font-size: 12px;
  letter-spacing: 0;
  padding-left: 24px;
  padding-right: 110px;
  color: #fff;
}

.subscribe-box__btn {
  top: 50%;
  right: 4px;
  position: absolute;
  width: 100px;
  height: 34px;
  background: #6a6a6a;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0;
  color: #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.to-top {
  top: 0;
  right: 0;
  position: absolute;
  width: 44px;
  height: 44px;
  background: #fff;
  color: #000;
}

.to-top:after {
  width: 2px;
  height: 2px;
  background: currentColor;
  top: calc(50% - 4px);
  left: 50%;
  position: absolute;
  content: "";
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 1px 1px 0 0 currentColor, 2px 2px 0 0 currentColor, 3px 3px 0 0 currentColor, 4px 4px 0 0 currentColor, 5px 5px 0 0 currentColor, 6px 6px 0 0 currentColor, -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, -4px 4px 0 0 currentColor, -5px 5px 0 0 currentColor, -6px 6px 0 0 currentColor;
  box-shadow: 1px 1px 0 0 currentColor, 2px 2px 0 0 currentColor, 3px 3px 0 0 currentColor, 4px 4px 0 0 currentColor, 5px 5px 0 0 currentColor, 6px 6px 0 0 currentColor, -1px 1px 0 0 currentColor, -2px 2px 0 0 currentColor, -3px 3px 0 0 currentColor, -4px 4px 0 0 currentColor, -5px 5px 0 0 currentColor, -6px 6px 0 0 currentColor;
}

@media (max-width: 1023px) {
  .social-nav__link:not(:first-child) {
    margin-left: 10px;
  }

  .subscribe-box__input-group {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .header__main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header__nav-link {
    padding: 0 15px;
  }

  .slider__sale {
    top: 20px;
    width: 150px;
  }

  .slider__nav {
    bottom: 20px;
  }

  .slider {
    height: 300px;
  }

  .product-slider__img-block {
    width: 100%;
    height: 600px;
  }

  .product-slider__slide-part {
    width: 100%;
  }

  .product-item__title {
    font-size: 12px;
  }

  .product-item__price {
    font-size: 13px;
  }

  .product-item__more-text {
    margin-left: 0;
  }

  .product-item {
    width: 33%;
    padding: 10px;
  }

  .sale__old-price {
    font-size: 12px;
  }

  .footer__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .footer__list {
    margin-bottom: 50px;
  }

  .logo {
    margin-left: 0;
    margin-bottom: 30px;
  }

  .brands__list-item {
    margin-bottom: 20px;
  }

  .brands__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .news__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .contact__text-box-item {
    width: 100%;
  }

  .contact__text-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .footer__list {
    margin-bottom: 50px;
  }

  .to-top {
    top: auto;
    bottom: 250px;
  }
}

@media (max-width: 479px) {
  .header__top-link:not(:first-child) {
    margin-left: 15px;
  }

  .header__top-media-hide {
    display: none;
  }

  .header__main-content-right {
    width: 100%;
  }

  .header__main-user {
    margin-bottom: 20px;
    float: none;
    text-align: center;
  }

  .header__nav-link:hover {
    background: black;
  }

  .header__nav-link.is-active {
    background: black;
  }

  .header__nav-link {
    display: block;
    padding: 0;
    float: none;
    text-align: center;
    font-weight: 700;
    color: #fff;
  }

  .header__nav-close {
    display: block;
  }

  .header__nav {
    position: fixed;
    top: -1000px;
    left: 0;
    right: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  .header__dropdown-btn {
    display: block;
  }

  .slider__sale {
    top: 10px;
    width: 100px;
  }

  .slider__nav-item {
    width: 14px;
    height: 14px;
  }

  .slider {
    height: 200px;
  }

  .product-slider__img-block {
    height: 400px;
  }

  .product-item {
    width: 50%;
  }

  .footer__content {
    padding-right: 0;
  }

  .title {
    font-size: 34px;
  }

  .contact__field--ta {
    height: 250px;
  }

  .footer__content {
    padding-right: 0;
  }
}

@media (max-width: 320px) {
  .product-slider__wrap {
    height: 500px;
  }

  .product-item {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */
