.btn {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2.7rem;
    color: $color-text-primary;
    background-color: $color-accent;
    padding: 1rem 6.5rem 1rem 2rem;
    border: none;
    border-radius: 6px;
    position: relative;

    &__icon {
        height: 4.4rem;
        width: 4.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        right: .6rem;
        transform: translateY(-50%);
    }

    &:active, &:focus {
        outline: none;
    }

    &:focus {
        box-shadow: $boxShadowOnFocus;
    }

    &:active {
        box-shadow: $boxShadow;
    }

    &:not(:last-child) {
        margin-right: 1.5rem;
    }
}