.slide {
    flex-base: 20%;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 3.75rem 1.5rem 2.4rem;
    position: relative;
    background-color: $color-bg-primary;
    text-decoration: none;
    color: $color-text-primary;
    text-align: center;
    box-shadow: $boxShadow;


    &__icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    &__image {
        img {
            width: 100%;
            height: auto;
        }
    }

    &__rating {
        //font-family: 'StarFont';
        border-bottom: 1px solid $color-accent;
        padding-bottom: .5rem;
    }

    &__title {
        font-size: 1.7rem;
        font-weight: bold;
        line-height: 1.9rem;
        margin: 3rem 0;
    }

    &__description {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.2rem;

        span {
            display: inline-block;
            font-size: 2rem;
            font-weight: bold;
            line-height: 2.4rem;
            margin-left: 1rem;
        }
    }
}

.featured {
    filter: invert(64%) 
            sepia(30%) 
            saturate(5599%) 
            hue-rotate(325deg) 
            brightness(99%) 
            contrast(86%);
}

.half {
    position: relative;

    span {
        position: absolute;
        top: 1rem;
        left: 0;
    }
}