<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Footer7</title>
	<link rel="stylesheet" href="../../../../css/templates/footers/footer7/style.css">
</head>
<body>
	<footer class="footer">
		<div class="container">
			<div class="footer__part footer__part--logo">
			<div class="logo"></div>
			</div>
			<div class="footer__part footer__part--list">
				<h6 class="list-title">Women</h6>
				<ul>
					<li><a href="#" class="footer__part--list-link">Coats</a></li>
					<li><a href="#" class="footer__part--list-link">Outerwear</a></li>
					<li><a href="#" class="footer__part--list-link">Dresses</a></li>
					<li><a href="#" class="footer__part--list-link">Jumpsuits</a></li>
					<li><a href="#" class="footer__part--list-link">Tops</a></li>
					<li><a href="#" class="footer__part--list-link">Trousers</a></li>
					<li><a href="#" class="footer__part--list-link">Jeans</a></li>
					<li><a href="#" class="footer__part--list-link">Skirts</a></li>
					<li><a href="#" class="footer__part--list-link">Knitwear</a></li>
					<li><a href="#" class="footer__part--list-link">T-shirts</a></li>
					<li><a href="#" class="footer__part--list-link">Shoes</a></li>
					<li><a href="#" class="footer__part--list-link">Handbags</a></li>
					<li><a href="#" class="footer__part--list-link">Accessories</a></li>
				</ul>
			</div>
			<div class="footer__part footer__part--list">
				<h6 class="list-title">Men</h6>
				<ul>
					<li><a href="#" class="footer__part--list-link">Coats</a></li>
					<li><a href="#" class="footer__part--list-link">Jackets</a></li>
					<li><a href="#" class="footer__part--list-link">Blazers</a></li>
					<li><a href="#" class="footer__part--list-link">Suits</a></li>
					<li><a href="#" class="footer__part--list-link">Trousers</a></li>
					<li><a href="#" class="footer__part--list-link">Jeans</a></li>
					<li><a href="#" class="footer__part--list-link">Shirts</a></li>
					<li><a href="#" class="footer__part--list-link">T-shirts</a></li>
					<li><a href="#" class="footer__part--list-link">Sweatshirts</a></li>
					<li><a href="#" class="footer__part--list-link">Knitwear</a></li>
					<li><a href="#" class="footer__part--list-link">Shoes</a></li>
					<li><a href="#" class="footer__part--list-link">Bags</a></li>
					<li><a href="#" class="footer__part--list-link">Accessories</a></li>
					<li><a href="#" class="footer__part--list-link is-new">Soft Wear<span>new</span></a></li>
					<li><a href="#" class="footer__part--list-link">Special Price</a></li>
				</ul>
			</div>
			<div class="footer__part footer__part--list">
				<h6 class="list-title">Kids</h6>
				<ul>
					<li><a href="#" class="footer__part--list-link">Girl</a></li>
					<li><a href="#" class="footer__part--list-link">Boy</a></li>
					<li><a href="#" class="footer__part--list-link">Baby</a></li>
					<li><a href="#" class="footer__part--list-link">girl</a></li>
					<li><a href="#" class="footer__part--list-link">Baby</a></li>
					<li><a href="#" class="footer__part--list-link">boy</a></li>
					<li><a href="#" class="footer__part--list-link">MINI</a></li>
				</ul>
			</div>
			<div class="footer__part footer__part--info">
				<div class="follow-box">
					<h6 class="follow__title">Follow Us</h6>
					<div class="social-nav">
						<a href="#" class="icon icon--facebook"></a>
						<a href="#" class="icon icon--twitter"></a>
						<a href="#" class="icon icon--dribbble"></a>
						<a href="#" class="icon icon--vimeo"></a>
						<a href="#" class="icon icon--google-plus"></a>
					</div>
				</div>
				<div class="subscribe-box">
					<h6 class="subscribe__title">Subscribing</h6>
					<p class="subscribe__text">We will never send you spam or some other trash</p>
					<form action="#">
						<div class="subscribe__input-group">
							<input type="email" class="input-field input-field--sm subscribe__field" placeholder="hello@creativedas.sh" required>
							<button class="subscribe__btn"></button>
						</div>
					</form>
				</div>
				<h6 class="list-title">menu</h6>
				<ul>
					<li><a href="#" class="footer__part--list-link">Company</a></li>
					<li><a href="#" class="footer__part--list-link">Our Team</a></li>
					<li><a href="#" class="footer__part--list-link">Testimonials</a></li>
					<li><a href="#" class="footer__part--list-link">Contacts</a></li>
				</ul>
			</div>
			<span class="footer__copyright">&copy; UI8 2014 – All Right Reserved</span>
		</div>
	</footer>
</body>
</html>