@import '../../../settings/settings';
@import '../../../components/buttons';

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: $font-stack;
	letter-spacing: 0.02em;
	font-weight: 600;
}

.logo {
	@include block-create(71px, 66px, url('../../../../img/logo.svg'));
	margin: 10vh auto;
	background-size: cover;
	@media (max-height: $mobile-size) {
		margin: 5vh auto;
	}
}

.header {
	height: 100vh;
	padding: 15vh 10%;
	background-color: $orange-color;
	text-align: center;
	&__menu {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		&.is-active .header__dropdown-menu {
			display: block;
		}
		&-btn {
			position: relative;
			width: 18px;
			height: 18px;
			color: #FFF;
			cursor: pointer;
			transition: 0.3s;
			&:after {
				@include pos('topLeft', 50%, 0);
				@include block-create(18px, 2px, currentColor);
				content: "";
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
				box-shadow: 0 6px 0 0 currentColor,
				0 -6px 0 0 currentColor;
			}
			&.create-close {
					position: absolute;
					top: 30px;
					left: 30px;
					z-index: 5;
					&:after {
						box-shadow: none;
						transform: translateY(-50%) rotate(45deg);
					}
					&:before {
						@include pos('topLeft', 50%, 0);
						@include block-create(18px, 2px, currentColor);
						content: "";
						transform: translateY(-50%) rotate(-45deg);
					}
			}
		}
		&-navigation {
			@media (max-width: $mobile-size) {
				display: none;
			}
		}
		@media (max-width: $mobile-size) {
			position: static;
			height: 18px;
		}
	}
	&__navigation {
		&-link {
			@include text-config(16px, 24px, #fff);
			text-decoration: none;
			&:not(:first-child) {
				margin-left: 40px;
				@media (max-width: $mobileL-size) {
					margin-left: 25px;
				}
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__title {
		@include text-config(36px, 48px, #fff);
		width: 85%;
		margin: 10vh auto;
		@media (max-width: $tablet-size) {
			font-size: 32px;
			line-height: 44px;
		}
		@media (max-width: $mobile-size) {
			width: 100%;
			font-size: 28px;
			line-height: 36px;
		}
		@media (max-height: $mobile-size) {
			width: 100%;
			margin: 5vh auto;
			font-size: 24px;
			line-height: 32px;
		}
	}
	&__dropdown-menu {
		@extend %border-radius;
		@include pos('topLeft', 100%, 0);
		z-index: 3;
		display: none;
		width: 200px;
		margin-top: 5px;
		border: 2px solid #fff;
		&-link {
			@include text-config(16px, 36px, #fff);
			display: block;
			padding-left: 30px;
			text-align: left;
			background-color: $green-color;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #fff;
			text-decoration: none;
			-webkit-transition: 0.3s;
			transition: 0.3s;
			&:hover {
				background-color: #FFF;
				color: $green-color;
				@media (max-width: $mobile-size) {
					background-color: $green-color;
					color: #FFF;
				}
			}
			&:first-child {
				border-top: none;
				border-top-left-radius: 6px;
				border-top-right-radius: 6px;
				@media (max-width: $mobile-size) {
					border-radius: 0;
				}
			}
			&:last-child {
				border-bottom: none;
				border-bottom-left-radius: 6px;
				border-bottom-right-radius: 6px;
				@media (max-width: $mobile-size) {
					border-radius: 0;
				}
			}
			@media (max-width: $mobile-size) {
				padding-left: 0;
				text-align: center;
				line-height: 70px;
				background-color: rgba(36,170,152,.9);
			}
		}
		@media (max-width: $mobile-size) {
			top: 0;
			right: 0;
			width: auto;
			margin-top: 0;
			border-radius: 0;
		}
	}
	@media (max-width: $tablet-size) {
		padding: 8vh 10%;
	}
}