<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Footer9</title>
	<link rel="stylesheet" href="../../../../css/templates/footers/footer9/style.css">
</head>
<body>
	<footer class="footer">
		<div class="footer__content">
			<div class="footer__part">
				<div class="logo"></div>
			</div>
			<div class="footer__part">
				<h6 class="footer__part-title">Joseph Wood</h6>
				<ul>
					<li><a href="#" class="footer__part-link">Timeline</a></li>
					<li><a href="#" class="footer__part-link">Messages</a></li>
					<li><a href="#" class="footer__part-link">Statistic</a></li>
					<li><a href="#" class="footer__part-link">Settings</a></li>
					<li><a href="#" class="footer__part-link">Logout</a></li>
				</ul>
			</div>
			<div class="footer__part">
				<h6 class="footer__part-title">Services</h6>
				<ul>
					<li><a href="#" class="footer__part-link">Branding</a></li>
					<li><a href="#" class="footer__part-link">UX Design</a></li>
					<li><a href="#" class="footer__part-link">Prototype</a></li>
					<li><a href="#" class="footer__part-link">UI Design</a></li>
					<li><a href="#" class="footer__part-link">Development</a></li>
				</ul>
			</div>
			<div class="footer__part">
				<h6 class="footer__part-title">About Us</h6>
				<ul>
					<li><a href="#" class="footer__part-link">Company</a></li>
					<li><a href="#" class="footer__part-link">Our Team</a></li>
					<li><a href="#" class="footer__part-link">Contacts</a></li>
					<li><a href="#" class="footer__part-link">Terms and Conditions</a></li>
					<li><a href="#" class="footer__part-link">Privacy Policy</a></li>
				</ul>
			</div>
			<div class="footer__part footer__part--follow">
				<div class="subscribe-box">
					<h6 class="subscribe__title">Subscribing</h6>
					<form action="#">
						<div class="subscribe__input-group">
							<input type="email" class="input-field input-field--sm subscribe__field" placeholder="hello@creativedas.sh" required>
							<button class="subscribe__btn"></button>
						</div>
					</form>
				</div>
				<div class="follow-box">
					<h6 class="follow__title">Follow Us</h6>
					<a href="#" class="icon icon--facebook"></a>
					<a href="#" class="icon icon--twitter"></a>
					<a href="#" class="icon icon--dribbble"></a>
					<a href="#" class="icon icon--vimeo"></a>
					<a href="#" class="icon icon--google-plus"></a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>