//Colors
$color-primary: #283046;
$color-secondary: #E7E9EC;
$color-tertiary: #53596B;
$color-bg-main: #F5F7FA;
$color-icons: #B3BAC7;
$color-breadcrumb: #828BA3;


//Fonts
$font-main: 'HK Nova Medium', sans-serif;
$font-base: 1.6rem;