<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Headers</title>
	<link rel="stylesheet" href="../../css/templates/headers/style.css">
</head>
<body>
	<div class="container">
		<a href="views/header1/" class="header-link header-link--first"></a>
		<a href="views/header2/" class="header-link header-link--second"></a>
		<a href="views/header3/" class="header-link header-link--third"></a>
		<a href="views/header4/" class="header-link header-link--fourth"></a>
		<a href="views/header5/" class="header-link header-link--fifth"></a>
		<a href="views/header6/" class="header-link header-link--sixth"></a>
		<a href="views/header7/" class="header-link header-link--seventh"></a>
		<a href="views/header8/" class="header-link header-link--eighth"></a>
	</div>
</body>
</html>