<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Navigation6</title>
	<link rel="stylesheet" href="../../../../css/templates/navigations/nav6/style.css">
</head>
<body>
	<nav class="nav">
		<div class="container">
			<div class="nav__main">
				<div class="dropdown-btn ic--hamburger js-btn"></div>
				<div class="nav__links js-dropdown"> 
					<a href="#" class="nav__links-item nav__links-item--info is-active js-nav-link">All Creative Fields</a>
					<a href="#" class="nav__links-item nav__links-item--info js-nav-link">All Time</a>
					<a href="#" class="nav__links-item nav__links-item--info js-nav-link">Most Viewed</a>
					<a href="#" class="nav__links-item nav__links-item--add btn btn--sm btn--rounded btn--success">Add Project</a>
				</div>
			</div>
			<div class="nav__user">
				<span class="icon icon--settings nav__user-settings"></span>
				<div class="nav__user-info">
					<a href="#" class="nav__user-photo"></a>
					<div class="nav__user-more">
						<span class="nav__user-name">Richard Nyman</span>
						<a href="#" class="nav__user-logout">Logout</a>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<script>
		var navLink = document.querySelectorAll('.js-nav-link');
		var btn = document.querySelector('.js-btn');
		var menu = document.querySelector('.js-dropdown');

		function clear(arr) {
			arr.forEach(function (e) {
				e.classList.remove('is-active');
			});
		}

		navLink.forEach(function (link) {
			link.addEventListener('click', function () {
				clear(navLink);
				this.classList.add('is-active');
			});
		});

		btn.addEventListener('click', function () {
			var w = document.body.clientWidth;
			if (w <= 767) {
				if (menu.hasAttribute('style')) {
					menu.removeAttribute('style');
				} else {
					menu.style.display = 'block';
				}
			}
		});

		window.onresize = function() {
			var w = document.body.clientWidth;
			if (w > 767 && menu.hasAttribute('style')) {
				menu.removeAttribute('style');	
			}
		}

	</script>

</body>
</html>